/* == Booking Form == */
.sectionBookingForm {
  height: 20rem;
  /* width: 80rem;
  max-width: 80rem; */
  background-color: #000;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.05);

  padding: 1rem 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.sectionBookingForm h3 {
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2rem;
}
.sectionBookingForm h4 {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  margin: 0 2.6rem;
}

.sectionBookingForm form {
  display: flex;
  align-items: center;
}

.sectionBookingForm__formGroup {
  display: flex;
  cursor: pointer;
}
.sectionBookingForm__formGroup select,
.sectionBookingForm__formGroup input[type='date'] {
  /* border: 2px solid #fff;
  color: #fff; */
  border: 2px solid #000;
  color: #000;
  font-weight: bold;
  width: 19rem;
  height: 6.2rem;
  background: none;
  outline: none;
  border-radius: 0px !important;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;

  margin-right: 0.5rem;
  padding: 1.6rem 2rem;
}
.sectionBookingForm__formGroup div {
  width: 5.6rem;
  /* border: 2px solid #fff; */
  border: 2px solid #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* == About Section == */
.sectionAbout {
  text-align: center;
  padding: 18rem;
  font-family: 'Oswald', sans-serif;
}
.sectionAbout__content {
  width: 150rem;
  margin: auto;
  display: flex;
}
.sectionAbout__contentImages {
  position: relative;
  width: 180rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-right: 2rem;
}
.sectionAbout__contentImages_img1 {
  background-image: url('/public/static/bar-about-img1.webp');
}
.sectionAbout__contentImages_img2 {
  background-image: url('/public/static/bar-about-img2.jpeg');
}
.sectionAbout__contentImages_img3 {
  background-image: url('/public/static/bar-about-img3.jpg');
}
.sectionAbout__contentImages_img4 {
  background-image: url('/public/static/bar-about-img4.jpg');
}
.sectionAbout__contentImages_img1,
.sectionAbout__contentImages_img2,
.sectionAbout__contentImages_img3,
.sectionAbout__contentImages_img4 {
  background-size: cover;
  background-position: center;
  transition: 1s;
  width: 26rem;
  /* height: 254px; */
  margin: 1rem;
}
.sectionAbout__contentImages_img1:hover,
.sectionAbout__contentImages_img2:hover,
.sectionAbout__contentImages_img3:hover,
.sectionAbout__contentImages_img4:hover {
  transform: scale(0.9);
}

.sectionAbout__contentText {
  font-size: 2.4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #636363;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionAbout__contentText p:not(:last-child) {
  margin-bottom: 1.5rem;
}
.sectionAbout__contentText h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  color: #111;
}

/* == Menu Section == */
.sectionMenu {
  background-color: #111;
  color: #fff;
  height: 100vh;
  text-align: center;
  padding: 10rem 0;
}
.sectionMenu p {
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
}
.sectionMenu h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
}
.sectionMenu__menuGrid {
  display: grid;
  grid-template-rows: 6;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.sectionMenu__item img {
  width: 6rem;
}
.sectionMenu__item h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
.sectionMenu__item {
  display: flex;
}

/* == Bar page Utilities classes == */
.sectionBookingForm__btn {
  background-color: #111;
  color: #fff;
  border: none;
  width: 19rem;
  height: 6.2rem;

  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 600;

  margin-left: 4rem;
}
