/* == Popular Events Section == */
.sectionEvents {
  padding: 6rem;
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f5f5f5;
}
.searchForm {
  display: flex;
  justify-content: center;
}
.searchBar {
  width: calc(67.2rem - 7rem);
  max-width: 67.2rem;
  height: 7rem;
  padding-left: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  border: none;
  background-color: #eee;
}
.searchButton {
  background-color: #111;
  color: #fff;
  width: 7rem;
  border: none;
}

/* == Features Section == */
.sectionFeatures {
  padding: 6rem;
  text-align: center;
}
.sectionFeatures__banner {
  width: 110rem;
  height: 37.3rem;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.sectionFeatures__bannerText {
  width: 80rem;
  color: #fff;
  padding: 4rem 15rem 4rem 4rem;
  align-self: stretch;
  background-color: #111;
  clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sectionFeatures__bannerText p {
  font-size: 1.8rem;
  text-align: left;
}
.sectionFeatures__bannerImage {
  margin-left: -15rem;
  background-color: yellow;
  height: 100%;
  width: 100%;
  background-image: url('../../../public/static/features_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
