/* == Header Showcase == */
.showcase {
  position: relative;
  margin-top: 10rem;
  /* height: calc(100vh - 10rem); */
  height: 55vh;

  overflow: hidden;
}
.showcase::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url('/public/cinema.png');
  background-size: cover;
  background-position: center;
  transition: 1.1s;
}
.showcase:hover::before {
  transform: scale(1.08);
}

.showcase__textContent {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  line-height: 1;
}
.showcase__textContent h1 {
  font-size: 12rem;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.showcase__textContent_pattern {
  display: flex;
}
.showcase__textContent_pattern img {
  width: 20rem;
}
.showcase__textContent_pattern h2 {
  font-size: 6rem;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
