/* == Font == */
@import url(./fonts/fonts.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* == Utilities == */
.flex {
  display: flex !important;
}
.flex-center {
  align-items: center !important;
  justify-content: center !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.alignItems-center {
  align-items: center !important;
}
.alignItems-start {
  align-items: flex-start !important;
}
.alignItems-end {
  align-items: flex-end !important;
}
.justifyContent-center {
  justify-content: center !important;
}
.justifyContent-start {
  justify-content: flex-start !important;
}
.justifyContent-end {
  justify-content: flex-end !important;
}
.justifyContent-spaceBetween {
  justify-content: space-between !important;
}

.heading-secondary {
  font-size: 3.4rem;
  font-family: axiform-bold;
}
.heading-tertiary {
  font-size: 2.5rem;
  font-family: axiform-bold;
}

.text {
  font-size: 1.6rem;
}

.btn {
  width: 12rem;
  height: 4rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-family: axiform-bold;
}
.btn--light {
  background-color: #eeeeee;
  color: #444;
}
.btn--dark {
  background-color: #111111;
  color: #fff;
}

.mr-5 {
  margin-right: 0.5rem !important;
}
.mr-10 {
  margin-right: 1rem !important;
}
.mr-15 {
  margin-right: 1.5rem !important;
}
.mr-20 {
  margin-right: 2rem !important;
}
.mt-5 {
  margin-top: 0.5rem !important;
}
.mt-10 {
  margin-top: 1rem !important;
}
.mt-15 {
  margin-top: 1.5rem !important;
}
.mt-20 {
  margin-top: 2rem !important;
}
.mt-25 {
  margin-top: 2.5rem !important;
}
.mt-30 {
  margin-top: 3rem !important;
}
.mt-40 {
  margin-top: 4rem !important;
}
.mt-50 {
  margin-top: 5rem !important;
}

.bg-green {
  background-color: aquamarine;
}
